a {
    text-decoration: none;
    -fx-outline: none;
    -fx-color: white;
    -fx-display: inline-block;
    -fx-position: relative;
    -fx-padding: 15px 30px;
    -fx-border-width: 1px;
    -fx-border-style:  solid;
    -fx-border-image-color: linear-gradient(180deg, #14ffdf, #32dded, #2db7ff, #3d8acd);
    -fx-border-image-slice: 1;
    -fx-margin: 10px 20px;   font-family: 'Montserrat', sans-serif;
    -fx-text-transform: uppercase;
    -fx-overflow: hidden;
    -fx-letter-spacing: 2px;
    -fx-transition: .8s cubic-bezier(.165,.84,.44,1);
}
a:before {
    -fx-content: "";
    -fx-position: absolute;
    -fx-left: 0;
    -fx-top: 0;
    -fx-height: 0;
    -fx-width: 100%;
    -fx-z-index: -1;
    -fx-color: white;
    -fx-background-color: linear-gradient(180deg, #14ffdf, #32dded, #2db7ff, #3d8acd);
    -fx-transition: .8s cubic-bezier(.165,.84,.44,1);
}
a:hover {-fx-background: rgba(255,255,255,0);}
a:hover:before {
    -fx-bottom: 0;
    -fx-top: auto;
    -fx-height: 100%;
}